/* VARIABLES */

$White: rgb(255, 255, 255);
$Light-gray: rgb(214, 226, 240);
$Grayish-blue: rgb(123, 135, 157);
$Dark-blue: rgb(31, 50, 81);

$primary-font: 'Outfit';

$font-sm: 1.5rem;
$font-md: $font-sm + 0.4rem;
$font-lg: $font-md + 0.4rem;

$border-radius-default: 10px;

/* /VARIABLES */